org: nicolasdiaz
service: api-chat

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  iam:
    role: arn:aws:iam::730872172556:role/LabRole
  environment:
    USERS_TABLE: ${sls:stage}_t_usuarios
    MESSAGES_TABLE: ${sls:stage}_t_mensajes
    CONNECTIONS_TABLE: ${sls:stage}_t_conexiones

  # CORS habilitado globalmente
  httpApi:
    cors:
      allowedOrigins:
        - "*"
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
        - POST
        - PUT
        - DELETE
      allowCredentials: false

functions:
  crearUsuario:
    handler: usuario/crear.handler
    events:
      - httpApi:
          path: /usuario/crear
          method: post

  connectHandler:
    handler: websocket/connect.handler
    events:
      - websocket:
          route: $connect

  disconnectHandler:
    handler: websocket/disconnect.handler
    events:
      - websocket:
          route: $disconnect

  messageHandler:
    handler: websocket/message.handler
    events:
      - websocket:
          route: sendMessage

resources:
  Resources:
    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    TablaMensajes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MESSAGES_TABLE}
        AttributeDefinitions:
          - AttributeName: messageId
            AttributeType: S
        KeySchema:
          - AttributeName: messageId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    TablaConexiones:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.CONNECTIONS_TABLE}
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST